# Ignore list for git

# Hidden files
_*
.*

# Temporary files
*.bak
*.orig
*.tmp

# Files from IDEs and cache
__pycache__

# Building and packaging
dist
*.egg-info

# Generated documentation
Documentation

# Test files and data storage
data
test*
Test*

# Exemptions
!.gitignore
