# Ignore list for git
# Hidden files
.*

# Except this file
!.gitignore

# Files from IDEs
__pycache__

# Building and packaging
dist
*.egg-info

# Generated documentation
Documentation

# Test files and data storage
data
test*
Test*
